* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;


}

.site-img {
    height: 26px;
    max-width: 236px;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.site-nav {
    display: flex;
}

.site-li {
    margin-right: 30px;
}

.header-burger {
    display: none;
    height: 15px;
    width: 16px;

}

.site-ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.header-a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    color: #83888F;
}

.header-a:hover {
    color: black;
    border-bottom: 3px solid black;
}

@media screen and (max-width:700px) {
    .header-a {
        display: none;
    }

    .header-burger {
        display: inline-block;
    }
}

@media screen and (max-width:460px) {
    .site-img {
        height: 18px;
        max-width: 163px;
    }
}
